#root {
  display:list-item;
  z-index: 0;
  margin: 113px 100px;
  padding: 0px;
  border-radius: 0px;
  align-self: center;
}

#containeroo{
  display: fixed;
  flex-wrap: wrap;
  height: auto;
  width: fit-content;
}

.contained{
  display: inline;
  flex: auto;
  align-content: space-around;
  justify-content: space-around;
  width: fit-content;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  align-self: center;
}

.container{
  display:flex;
  flex: auto;
  align-content: center;
  justify-content: center;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  display: inline;
  flex: auto;
  table-layout: auto;
  columns: unset;
}

body{
  background-color: #282834;
  color: #00c8ff;
  font-family: 'Roboto', sans-serif;
  font-size: calc(8px + 2px);
  text-align: center;
  display: auto;
}

input{
  place-content: center;
  color:rgb(0, 157, 255);
}

.form-control{
  color: azure;
}

img{
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  border-radius: 0px;
  display: inline;
  flex: auto;
  display: auto;
}

#sized {
  width: auto;
  margin: 0px fit-content;
  padding: 0px;
  height: max-content;
}

.card{
  border-radius: 0px;
  flex: content;
  flex-flow: row wrap;
  width: fit-content;
  table-layout: auto;
  display: flexbox;
}

.container {
  display: contents;
  scroll-behavior: smooth;
  z-index: -1;
}

#authButton{
  background-color: #1a1a1a;
  color: #cdf4ff;
  border-radius: 0px;
  width: 140px;
  height: 10px;
  display: inline;
  flex: auto;
  table-layout: auto;
  columns: unset;
}

a{
  color: #9feaff;
  text-decoration: none;
}

.card {
  padding: 0px;
  border-radius: 0px;
  width: fit-content;
  height: auto;
  display: inline;
}

.card-subtitle mb-2 text-muted {
  font-size: 0.8px;
}

.card-title{
  font-size: 100%;
}

.read-the-docs {
  color: #fbfbfb;
}
